.registration-frorm {
    width: 300px;
    margin: auto;
}
.registration-frorm label {
    display: block;
    margin-bottom: 5px;
}
.registration-frorm input {
    width: 100%;
    padding: 5px;
    margin-bottom: 10px;
}
.registration-frorm button {
    padding: 5px 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    cursor: pointer;
}